<!DOCTYPE html>
<html>
  <head>
    <title>VidSharer</title>
  </head>

  <body>
    <script src="video/bootstrap.min.js"></script>
    <div class="navbar-header">
      <a class="navbar-brand" href="#">VidSharer</a>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li class = "active"><a href="#">Home</a></li>
        <li><a href="#">Video List</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Articles
          <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
          <li><a href="#">List</a></li>
          <li><a href="#">Choose By Video</a></li>
        </li>
      </ul>


  </body>

</html>
